<main>
    <section class="form-section">
        <img src="/assets/svg/logo.png" alt="Logo"/>
        <h2>{{ title }}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button 
                class="btn-primary" 
                (click)="submit()"
                [disabled]="disablePrimaryBtn"
            >
                {{ primaryBtnText }}
            </button>
            <div class="divider">
                <div></div>
                <span><strong>OR</strong></span>
                <div></div>
            </div>
            <button class="btn-secondary" (click)="navigate()">{{ secondaryBtnText }}</button>
        </div>
    </section>
    <section class="main-section">
        <!-- Aqui você pode incluir o formulário de cadastro de usuário -->
        <form (ngSubmit)="registerUser()" #registrationForm="ngForm">
            <div class="form-group">
                <label for="username">Nome de usuário</label>
                <input type="text" id="username" name="username" [(ngModel)]="user.username" required/>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" [(ngModel)]="user.email" required/>
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" [(ngModel)]="user.password" required/>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirmar Senha</label>
                <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="user.confirmPassword" required/>
            </div>
            <button type="submit" [disabled]="!registrationForm.valid">Cadastrar</button>
        </form>
    </section>
</main>
